@import "../styling/_variables.scss";

.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 40px;

  #trash-icon {
    display: flex;
    color: $button-color;
    height: 25px;
  }

  #trash-icon:hover {
    color: $button-darker;
    height: 40px;
  }
}
