@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

// $background-colour: #e7e2d8;
$text-colour: #313e50;
$font-phudu: "Phudu";
$font-raleway: "Raleway";
$font-handlee: "Handlee";
$font-sacramento: "Sacramento";
$button-color: #ac436c;
$button-darker: #8d3758;
$teal: #0E7C7B;
$ash-grey: #BAD1CD;
$old-rose: #BD7E7F;
$charcoal: #313E50;
$rasp-rose: #ac436c;
$saffron: #e3b505ff;
$indigo-dye: #044b7fff;
$french-gray: #bbbbbfff;
$yinmn-blue: #1b5299ff;
$light-blue: #9fc2ccff;
$cornsilk: #f1ecceff;
$coyote: #756d54ff;
$carolina-blue: #76a9c7ff;
$asparagus: #789a5fff;
$rosy-brown: #da9596ff;
$dark-spring-green: #327358ff;
$alice-blue: #d5dfe5ff;
$reseda-green: #7f9172ff;
$hookers-green: #567568ff;
