@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

// $background-colour: #e7e2d8;
$text-colour: #313e50;
$font-phudu: "Phudu";
$font-raleway: "Raleway";
$font-handlee: "Handlee";
$font-sacramento: "Sacramento";
$button-color: #ac436c;
$button-darker: #8d3758;
$teal: #0E7C7B;
$ash-grey: #BAD1CD;
$old-rose: #BD7E7F;
$charcoal: #313E50;
$rasp-rose: #ac436c;

