@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,200;1,400&display=swap');

$background-colour: #e7e2d8;
$text-colour:#36454F;
$font-phudu: "Phudu";
$font-raleway: "Raleway";
$font-handlee: "Handlee";
