@import "_variables.scss";

.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $font-raleway;
  color: $ash-grey;
  font-size: 1vw;
  width: 330px;
  margin: 0 30px;

  #trash-icon {
    display: flex;
    color: $button-darker;
    height: 40px;
  }

  #confirm-delete {
    #pop-up-message {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 20px;
      padding: 1vh 1vw;
      background-color: white;
      color: $button-color;
      border: 2px solid $button-color;
    }
    .button-option {
      width: 75px;
      height: 75px;
      margin-left: 2.5vw;
      border-style: none;
      border-radius: 50%;
    }
    #delete-btn-yes {
      color: darkred;
      background-color: white;
      border: 3px solid darkred;
    }
    #delete-btn-no {
      background-color: $teal;
      color: $ash-grey;
      border: 3px solid $old-rose;
    }
    .delete-choice-text {

    }
  }

  .pet-delete-selection {
    // Delete [pet's.name]
    padding: 0 1vw;
  }
  #trash-icon:hover {
    color: $button-color;
    height: 45px;
    cursor: pointer;
  }
}

#delete-buttons-container {
  height: 50px;
}
