@import "_variables.scss";

.delete-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  font-family: $font-raleway;
  font-size: 3vw;
  // background-color: blue;

  #trash-icon {
    color: $button-darker;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-left: 3vw;
  }

  #confirm-delete {
    #pop-up-message {

    }
    .delete-button {

    }
    .delete-choice {
      // Yes or No
    }
  }

  .pet-delete-selection {
    // Delete [pet's.name]
    padding: 0 1vw;

  }
}

