@import "_variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-colour;
  margin-top: 15px;
  .dog-icon {
    display: flex;
    align-items: flex-end;
  }

  footer {
    font-size: 20px;
    font-family: $font-sacramento;
    margin-bottom: 3vh;
    #pawprint {
      height: 1em;
      width: 1em;
    }
  }
}
