@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

#page-container {
  margin: 0 14vw;
  header {
    text-align: -webkit-center;
    font-family: "Raleway";
    margin-bottom: 8vh;

    h1 {
      font-size: 5vw;
      margin-top: 3vh;
      margin-bottom: 7vh;
      b {
        font-family: "Handlee";
        color: #960303;
      }
    }

    img {
      width: 60vw;
      height: 20vw;
    }
    #line-1 {
      font-weight: lighter;
      font-size: 2.5vw;
    }
    #line-2 {
      padding-bottom: 8vh;
      font-weight: bold;
      font-size: 1.4vw;
    }
  }

  #form-container {
    // font: 3vh "Phudu";
    font: 3vh "Raleway";
    margin: auto;
    text-align: -webkit-center;
    width: 65vw;

    #title {
      font-size: 5vw;
      font-weight: bolder;
      background-color: #ac436c;
      padding: 3vh;
      border: 3px solid none;
      border-radius: 30px;
      color: white;
    }

    #new-profile {
      border: 0.5px solid black;
      margin-bottom: 6vh;

      .text-input {
        margin-top: 10vh;
        display: block;

        label {
          margin: 1vw;
          color: #520A51;
          // background-color: blue;

          input {
            width: 20vw;
            padding: 1vw;
            margin: 1vw;
            font: x-large "Handlee";
            text-align: center;
            border: 1.5px solid black;
            border-radius: 10px;
          }
        }
        #description {
          display: flex;
          width: 70%;
          height: 20vh;
        }
      }

      .radios {
        margin: auto;
        display: flex;
        justify-content: center;
        // background-color: yellow;
        .selection {
          padding: 1vw;
        }
        .radio-options {
          color: #520A51;
          font-family: "Raleway";
          padding: 1vw;
          padding-right: 2vw;
        }
      }

      input[type="file"]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #6BAEFD;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
      }

      input[type="file"]::file-selector-button:hover {
        background: #0d45a5;
      }

      #choose-file {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        padding: 20px;
        border-radius: 10px;
        border: 2px dashed #F9F6FD;;
        color: #444;
        margin: 0 7vw;
        cursor: pointer;
        transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
      }

      .choose-file:hover {
        background: #eee;
        border-color: #111;
      }

      .choose-file:hover .drop-title {
        color: #222;
      }

      .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color 0.2s ease-in-out;
      }
    }

    button {
      display: inline-block;
      outline: 0;
      border: 0;
      margin: 4vh;
      color: #520A51;
      font-family: "Handlee";
      cursor: pointer;
      text-decoration: none;
      position: relative;
      background: #fff;
      line-height: 30px;
      border-radius: 40px;
      padding: 30px;
      font-size: 30px;
      font-weight: 600;
      box-shadow: #ac436c -2px -2px 0px 2px, #D6BAEF 0px 0px 0px 4px,
        rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transition: all 0.2s;
    }
    button:hover {
      box-shadow: #ac436c -2px -2px 0px 2px, #6BAEFD 0px 0px 0px 4px,
        rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
    }
  }
}

::placeholder {
  font: medium "Raleway";
  // color: #796949;
}
/* On mouse-over, add a color */
input:hover {
  background-color: #FDF9FF;
}

#container #description input {
  height: 5em;
}

// margins: top right bottom left
// borders: width style(req) color
// font: style variant weight size/line-height(req) family(req)
