@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

#body {
  background: #e7e2d8;
  width: 100vw;
  #page-container {
    margin: 0em 10em 0em 10em;
    padding-bottom: 5em;
    padding-top: 2em;
    border: 3px double #960303;
    border-top: none;
    border-bottom: none;
    #header {
      display: flex;
      justify-content: center;
      color: #36454f;
      h1 {
        position: absolute;
        font: 5vw "sacramento";
        margin-top: 3vh;
      }
      #pawprint {
        height: 1em;
        width: 1em;
      }
      #pets-cuddling {
        margin-top: 15vh;
        width: 50vw;
        height: 40vh;
      }
    }
  }
}

#form-container {
  font: 3vh "Phudu";
  margin: auto;
  background-color: #f4f1ed;
  text-align: -webkit-center;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-top: 10vh;
  border: 0px solid #c5b9a1;
  border-radius: 20px;
  width: 65vw;

  #labels {
    display: flex;
    justify-content: space-evenly;
    color: #36454f;
  }

  h1 {
    font-family: "Raleway";
    font-size: 57px;
    padding-bottom: 0vw;
    margin-bottom: 1vw;
    color: #36454f;
    // color: #960303;
  }

  label {
    padding-bottom: 3vh;
  }

  .text-input {
    display: block;
  }

  .text-input input {
    width: 18vw;
    padding: 1vw;
    margin: 1vw;
    font: x-large "Handlee";
    text-align: center;
    border: 2px solid #c5b9a1;
    border-radius: 10px;
  }

  .radios {
    display: block;
    // font-family: "Raleway";
  }

  .radio-tags {
    padding-right: 2vw;
  }

  .sex {
    padding: 1vw;
  }

  .spayed_or_neutered {
    padding: 1vw;
  }

  .size {
    padding: 1vw;
  }

  #description input {
    width: 70%;
    height: 20vh;
    padding: 1rem;
  }

  button {
    background-color: #960303;
    color: #eae6dd;
    font-size: x-large;
    padding: 2rem;
    border-radius: 100px;
    border: 1px solid black;
  }

  #border-line {
    display: flex;
    width: 51vw;
    border-top: 4px solid;
    padding-bottom: 10vh;
    border-color: #960303;
  }
}

::placeholder {
  font: medium "Raleway";
  color: #796949;
}
/* On mouse-over, add a color */
.text-input:hover input {
  background-color: #faf9f7;
}

#container #description input {
  height: 5em;
}

// margins: top right bottom left
// borders: width style(req) color
// font: style variant weight size/line-height(req) family(req)
