@import "_variables.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-raleway;
  color: $text-colour;
  margin-top: 0;

  .home-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-shadow: 1px 1px #fff;

    h1 {
      font-size: 36px;
      font-family: $font-phudu
    }

    p {
      font-size: 20px;
      margin: 0;
      b {
        color: $teal;
        font-family: $font-handlee;
      }
    }
  }

  .logout-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-shadow: 1px 1px #fff;

    h1 {
      font-size: 36px;
      b {
        color: $teal;
        font-family: $font-handlee;
      }
    }

    p {
      font-size: 20px;
      margin: 0;
    }
  }
  button {
    margin: 10px;
    width: 20%;
    color: #fff;
    background-color: $indigo-dye;
    border-color: $indigo-dye;
    font-family: $font-handlee;
    &:hover {
      color: $indigo-dye;
      background-color: #fff;
      border-color: $indigo-dye;
    }
    &:active {
      color: #fff;
      background-color: $indigo-dye;
      border-color: $indigo-dye;
      font-family: $font-handlee;
    }
  }
}
