@import '_variables.scss';

.matches-container {
  h1 {
    width: 80%;
    padding-left: 10px;
    font-family: $font-raleway;
  }

  #des {
    margin-top: 1rem;
    width: 80%;
    padding-left: 10px;
    font-family: $font-raleway;
  }
}

.empty-card {
  width: 75%;
  display: flex;
  float: left;
  justify-content: center;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 900px;
  height: 450px;

  background: hsl(0, 0%, 95%);
  box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);

  .message {
    font-family: Courier New;
    display: flex;
    flex-direction: column;

    position: absolute;
    font-size: 1.75rem;

    top: 20%;

    text-align: center;


  }
}

.nav-tabs {
  .nav-item > a{
    color: $button-darker;
  }
  font-family: $font-handlee;
}

