@import "_variables.scss";

$margin: 15px;

.match-card {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  position: relative;
  justify-self: center;
  align-self: center;
  width: 80vw;
  max-width: 900px;
  max-height: 65vh;
  background: hsl(0, 0%, 95%);
  box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);
  margin: 5%;
  border-radius: 5px;
  .right {
    width: 50%;
    max-height: 65vh;
    .image {
      border-radius: 5px;
      object-fit: cover;
      width: 100%;
      height: 65vh;
    }
  }

  .left {
    font-family: $font-raleway;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    b {
      font-family: $font-phudu;
    }

    .match-name {
      font-family: $font-handlee;
      position: relative;
      width: max-content;
      font-size: 2.575rem;
      white-space: nowrap;
      margin-left: $margin;
      hr {
        margin-top: 0;
      }
    }

    .match-info {
      position: relative;
      font-size: 1.20em;
      max-width: 100%;
      text-align: left;
      margin-left: $margin;
    }

    .match-buttons {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      text-align: left;
      margin: 5px;
      max-width: 100%;
      font-family: $font-handlee;

      button {
        font-size: large;
        padding: .75rem;
        border-radius: 10px;
        background-color: $teal;
        border-color: $teal;
        color: white;
      }

      button:hover{
        transform: scale(1.05);
        background-color: white;
        color: black;
        * {
          transform: scale(1.15);
        }
        .fa-heart {
          color: red;
        }
        .fa-heart-crack {
          color: $charcoal;
        }
        .fa-envelope {
          color: blue;
        }
      }
    }
  }
}

.back-btn {
  position: absolute;
  left: 6%;
  width: 100px;
  top: 5em;
  background: transparent;
  border: 0;
  font-family: $font-phudu;
  &:hover {
    transform: scale(1.15);
  }
}
