.matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pet-card {
    padding: 2%;
    flex-basis: 20%;
  }

  .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
    display: block;
  }

  .pet-image {
    position: relative;

    .like-button {
      color: red;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10rem;
      background-color: transparent;
      border: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .like-button :hover {
      color: red;
    }

    .fa-heart {
      position: absolute;
      bottom: 0;
      left: 0;
      color: red;
      position: absolute;
    }
  }

  .pet-info {
    text-align: center;
    font-family: Courier New;
  }

  .empty-card {
    width: 75%;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 900px;
    height: 450px;

    background: hsl(0, 0%, 95%);
    box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);

    .message {
      font-family: Courier New;
      display: flex;
      flex-direction: column;

      position: absolute;
      font-size: 1.75rem;

      top: 20%;

      text-align: center;


    }
  }
}
