.matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pet-card {
    padding: 2%;
    flex-basis: 20%;
  }

  .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
    display: block;
  }

  .pet-image {
    position: relative;
  }

  .like-button {
    margin: 2px;
    position: absolute;
    color: red;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10rem;
    background-color: transparent;
    border: transparent;
    &:hover {
      color: red;
    }
  }

  .fa-heart {
    color: red;
  }

  .pet-info {
    text-align: center;
    font-family: Courier New;
  }

}
