@import '_variables.scss';

.matches-container {
  h1 {
    width: 80%;
    padding-left: 10px;
    font-family: $font-raleway;
  }

  #des {
    margin-top: 1rem;
    width: 80%;
    padding-left: 10px;
    font-family: $font-raleway;
  }
}

.empty-card {
  width: 75%;
  display: flex;
  float: left;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 80vw;
  height: 30vh;
  background: hsl(0, 0%, 95%);
  box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);
  margin-bottom: 5%;
  .message {
    font-family: $font-raleway;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.75rem;
    text-align: center;
     * {
       margin: 5%;
     }
  }
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
  .nav-item > a{
    color: $button-darker;
  }
  .tab-names {
    display: flex;
    margin-left: 5%;
    font-family: $font-handlee;
  }
}
