@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

@import "_variables.scss";


.matchlist {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100vw;
  * {
    user-select: none;
  }

  h1 {
    font-family: $font-raleway;
    b {
      font-family: "Handlee";
      color: #960303;
    }
  }

  .swipe {
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 70vw;
    height: 70vh;
    justify-content: space-evenly;
  }

  .cardContainer {
    width: 90vw;
    max-width: 90vw;
    height: 70vh;
    display: flex;
    justify-content: center;
  }

  .cardInfo {
    margin: 10px;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 5px;
    animation: 0.75s smallPopup;
    p {
      padding: 10px;
      font-family: $font-raleway;
      margin-bottom: 5rem;
      b {
        font-family: $font-phudu;
      }
    }
    button {
      position: absolute;
      bottom: 0;
    }
  }

  .card {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    &:hover{
      transform: scale(1.01);
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
    h1 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
    text-shadow: 2px 2px #333337;
    font-family: $font-handlee;
      &:hover{
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    h2 {
      font-family: $font-handlee;
      &:hover{
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .card-body {
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    .card-img-left {
      object-fit: cover;
      width: 100%;
      max-width: 100%;
      height: 100% !important;
      border-radius: 5px;
    }
  }

  .buttons {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: $button-color;
    transition: 200ms;
    margin: 10px;
    font-weight: bolder;
    width: 60px;
    &:hover {
      transform: scale(1.05);
      background-color: $button-darker;
    }
  }

  .dropdown {
    margin: 5px;
    span {
      margin: 5px;
    }
    button {
      background-color: $button-color;
      border-color: $button-color;
      &:active {
        background-color: $button-color;
        border-color: $button-color;
      }
      &:hover {
        transform: scale(1.05);
        background-color: $button-darker;
        border-color: $button-darker;
      }
    }
  }

  @media (max-width: 625px) {
    .buttons {
      flex-direction: column;
    }
  }

  @keyframes popup {
    0%   { transform: scale(1,1) }
    10%  { transform: scale(1.1,1.1) }
    30%  { transform: scale(.9,.9) }
    50%  { transform: scale(1,1) }
    57%  { transform: scale(1,1) }
    64%  { transform: scale(1,1) }
    100% { transform: scale(1,1) }
  }

  @keyframes smallPopup {
    0%   { transform: scale(1,1) }
    10%  { transform: scale(1.02,1.02) }
    30%  { transform: scale(.98,.98) }
    50%  { transform: scale(1,1) }
    57%  { transform: scale(1,1) }
    64%  { transform: scale(1,1) }
    100% { transform: scale(1,1) }
  }

}


