.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fff;
  margin: 2em;
  border-bottom: 1px solid #ccc;

  .chat-details {
    flex: 1;
  }

  .chat-details > p {
    color: gray;
  }

  .chat-timestamp {
    color: lightgray;
  }

  .chat-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
