@import "_variables.scss";

#test {
  height: 100px;
  #brand {
    font-size: 5vh;
    font-weight: bold;
  }
}

.navbar {
  height: 100px;
    font-family: $font-handlee;
    b {
      font-size: 111%;
      color: #0d706e;
    }
    .navbar-nav {
      a {
        font-family: $font-raleway;
        font-size: 3vh;
        color: $button-color;
      }
      a:hover {
        color: $indigo-dye;
      }
      #log-btn {
        padding-top: 0;
        padding-bottom: 0;
        a {
          font-family: $font-handlee;
          color: white;
        }
        &:hover {
          background-color: white;
          a {
            color: $teal;
          }
        }
        margin-left: 1vw;
        background-color: $teal;
        border: 1px solid $teal;
      }
    }
  }
