@import "_variables.scss";
#petDropdown {
  margin-top: 5px;
  font-family: $font-raleway;
  button {
    font-family: $font-handlee;
    background-color: $indigo-dye;
    border-color: $indigo-dye;
    &:active {
      background-color: $indigo-dye;
      border-color: $indigo-dye;
    }
    &:hover {
      transform: scale(1.05);
      color: $indigo-dye;
      background-color: aliceblue;
    }
  }
  .dropdown-item{
    font-family: $font-handlee;
  }
}
