@import "_variables.scss";
#petDropdown {
  padding-right: 5%;
  font-family: $font-raleway;
  button {
    background-color: $indigo-dye;
    border-color: $indigo-dye;
    &:active {
      background-color: $indigo-dye;
      border-color: $indigo-dye;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
