@import "_variables.scss";

.title {
  text-align: -webkit-center;
  font-size: 5vw;
  font-family: $font-raleway;
  margin-top: 3vh;
  margin-bottom: 1vh;
  color: $text-colour;
  // color: #bad1cd;
  // color: $text-colour;
  b {
    font-family: $font-handlee;
    // color: #0e7c7b;
    color: $teal;
  }
}
#fact {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  font-family: $font-handlee;
  font-size: 22px;
  color: $old-rose;
  opacity: 0.5;
}
.pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  .pet-card {
    padding: 2%;
    flex-basis: 20%;
  }
  .pet-image {
    #selected-img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border: 10px solid #bad1cd;
      border-bottom: none;
      border-radius: 50%;
      box-shadow: 1px -5px 40px 1px $old-rose;
    }
    #unselected-img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border: 10px solid #bad1cd;
      border-bottom: none;
      border-radius: 50%;
    }
  }

  .pet-info {
    text-align: center;
    font-family: Courier New;
    .link-to-matches {
      color: $button-color;
      font-weight: bold;
      font-family: $font-handlee;
    }
    p.selected {
      font-size: 11px;
      font-weight: lighter;
      font-family: $font-raleway;
    }
    p.unselected {
      font-size: 11px;
      font-weight: lighter;
      font-family: $font-raleway;
    }
  }

  .name {
    font-family: $font-raleway;
    color: $text-colour;
    padding: 1vw;
    font-size: 26px;
  }
  #selected-img:hover {
    border-color: #cededc;
    box-shadow: 1px -5px 35px 5px $old-rose;
    width: 305px;
    height: 305px;
  }
  #unselected-img:hover {
    border-color: #cededc;
    box-shadow: 1px -10px 35px 5px rgba(0, 0, 0, 0.3);
    width: 305px;
    height: 305px;
  }
}
