@import "_variables.scss";

.title {
  text-align: -webkit-center;
  font-size: 2.5vw;
  font-family: $font-raleway;
  margin: 3vh;
  color: $text-colour;
  b {
    font-family: $font-handlee;
    color: $teal;
  }
}

#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 2vh;
  font-family: $font-handlee;
  font-size: 22px;
  color: $old-rose;
}

.add-pet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 2vh;
  font-family: $font-handlee;
  font-size: 22px;
  color: $old-rose;
  // border: 1px solid;

  #add-pet-button {
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    .add-pet-icons {
      color: $button-color;
    }
    .add-pet-icons:hover {
      color: $button-darker;
    }
  }
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15%;
  margin-top: 5vh;
  padding-top: 7vh;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);

  .pet-card {
    padding: 0 2%;
    flex-basis: 20%;
    width: 500px;
  }

  .pet-image {
    #selected-img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border: 20px solid white;
      border-bottom: none;
      // box-shadow: 0px -10px 20px 5px $old-rose;
    }
    #unselected-img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border: 20px solid white;
      border-bottom: none;
    }
  }

  .pet-info {
    text-align: center;
    font-family: $font-raleway;
    color: $text-colour;
    font-size: 26px;
    .name {
      background-color: white;
      border: 15px solid white;
      border-top: none;
      padding: 5px 0;
    }

    p.selected {
      font-size: 11px;
      font-family: $font-raleway;
      color: $old-rose;
    }
  }

  #selected-img:hover {
    box-shadow: 0px -13px 30px 5px $old-rose;
  }
  #unselected-img:hover {
    box-shadow: 0px -13px 20px 5px rgba(0, 0, 0, 0.3);
  }
}

#delete-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#no-pets-view {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 5vh;
  padding-bottom: 7vh;
}
