@import "_variables.scss";

.title {
  text-align: -webkit-center;
  font-size: 5vw;
  font-family: $font-raleway;
  margin-top: 3vh;
  // margin-bottom: 8vh;
  color: $text-colour;
  b {
    font-family: $font-handlee;
    color: $teal;
  }
}
#fact {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  font-family: $font-handlee;
  font-size: 22px;
  color: $old-rose;
}

.add-pet-container {
  display: flex;
  justify-content: center;
  width: 100%;
  #add-pet {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border: 2px solid $button-color;
    border-radius: 50%;
    .add-pet {
      color: $button-color;
    }
  }
}

.pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: blue;
  margin-top: 5vh;
  height: 460px;

  .pet-card {
    padding: 2% 1%;
    flex-basis: 20%;
    width: 500px;
  }

  .pet-image {
    // background-color: red;
    width: 365px;
    #selected-img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border: 10px solid #bad1cd;
      border-bottom: none;
      border-radius: 50%;
      box-shadow: 1px -5px 20px 1px $old-rose;
    }
    #unselected-img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border: 10px solid #bad1cd;
      border-bottom: none;
      border-radius: 50%;
    }
  }

  .pet-info {
    text-align: center;
    .name {
      font-family: $font-raleway;
      color: $text-colour;
      font-size: 26px;
    }
    p.selected {
      font-size: 11px;
      // font-weight: lighter;
      font-weight: bold;
      font-family: $font-raleway;
      color: $old-rose;
      text-shadow: 1px -1px 5px pink;
    }
    // p.unselected {
    //   font-size: 11px;
    //   font-weight: lighter;
    //   font-family: $font-raleway;
    // }
  }

  #selected-img:hover {
    border-color: #cededc;
    box-shadow: 1px -5px 20px 5px $old-rose;
    width: 352px;
    height: 352px;
  }
  #unselected-img:hover {
    border-color: #cededc;
    box-shadow: 1px -10px 20px 5px rgba(0, 0, 0, 0.3);
    width: 352px;
    height: 352px;
  }
  .delete-pet:hover {
    height: 150px;
    margin-bottom: 1px;
  }
}

#delete-buttons-container {
  display: flex;
  justify-content: center;
}

#separator {
  display: block;
  // background-color: red;
  height: 50px;
  width: 100%;
  padding: 50px 100%;
  margin-top: 40px;
}
