@import "_variables.scss";

.modal-backdrop {
  display: grid;
}

.modal-lg {
  max-width: 90vw !important;
  display: flex;
  justify-self: center;
  align-self: center;

  .modal-content {
    border-radius: 5px;
  }
}

.match-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f7f7f7;

  h1 {
    font-family: $font-phudu;
    font-weight: bold;
    color: $indigo-dye;
    font-size: 50px;
  }

  .match-profiles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 50px 0;
    font-family: $font-handlee;
    svg {
      align-self: center;
      font-size: 100px;
      color: #ac436c;
    }
  }

  .match-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .match-profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .match-profile h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  .button {
    font-family: $font-handlee;
    margin: 10px;
    padding: 10px 20px;
    border-color: $teal;
    border-radius: 5px;
    background-color: $teal;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #fff;
      color: $teal;
      border-color: $teal;
    }
  }
}
