@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");        // font-family: "Sacramento";
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap");    // font-family: "Phudu";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");  // font-family: "Raleway";
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");           // font-family: "Handlee";

// colors:
#36454f; // font
#960303; // deep red

element:hover input {
  background-color: #faf9f7;
}

#container {
  margin: 0em 14vw 0em 14vw;
  padding: 3vh 0;
}