@import "../styling/_variables.scss";

.chatScreen {
  margin-top: 3%;
  margin-bottom: 5%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatScreen_message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen_text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen_textUser {
  margin-left: auto;
  margin-right: 10px;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.chatScreen_input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid lightgray;
  background-color: white;
}

.chatScreen_inputField {
  flex: 1;
  padding: 20px;
  border: none;
}

.chatScreen_inputButton {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #ac436c;
}

.buffer {
  display: flex;
  padding: 5px;
  bottom: 0;
  width: 100%;
  height: 80px;
}
